@model IEnumerable<Web.ViewModels.CategoryViewModel>
@if (Model.Any())
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.CategoryName)</th>
                <th class="hidden-xs">@Html.DisplayNameFor(model => model.RecipeCount)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var category in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(category.CategoryName,"Detail", new { id=category.Id})
                    </td>
                    <td class="hidden-xs">
                        @category.RecipeCount
                    </td>
                    <td>
                        <a href="#" class="btn btn-danger btn-xs @category.DeleteClass">
                            <i class="fa fa-trash-o"></i> Удалить
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}